{% extends "base.html" %}

{% block title %}Informations légales – La Sélection d’Artemisia{% endblock %}

{% block content %}

<section class="contact-block" style="margin-top:26px;padding:16px;border:1px solid var(--border);border-radius:12px;background:var(--panel)">
  <h1 style="margin-top:0">Informations légales & Contact</h1>

  <p><strong>Raison sociale :</strong><br>
     La Sélection d’Artemisia / Cie Artemisia</p>

  <p><strong>Adresse :</strong><br>
     Maison des Associations – Cie Artemisia<br>
     3 place Guy Hersant (BAL 69) – BP 74134<br>
     31031 Toulouse Cedex 04</p>

  <p><strong>Téléphone :</strong><br>
     06 76 07 01 79<br>
   </p>

  <p><strong>E-mail :</strong><br>
     <a href="mailto:contact@laselectiondartemisia.fr">
       contact@laselectiondartemisia.fr
     </a>
  </p>

  <p><strong>N° SIRET :</strong> 434 739 769 00058<br>
     <strong>Code APE :</strong> 9001Z<br>
     <strong>Licence spectacle :</strong> Licence_2 / Catégorie PLATESV-R-2025-001991
  </p>
</section>

{% endblock %}
