{% extends "base.html" %}
{% block title %}Créer un compte - AnimatoSpectacle{% endblock %}
{% block content %}


<h2>Créer un compte</h2>
<div style="background:#fffde7;border:1px solid #ffe082;padding:10px 18px 10px 18px;margin-bottom:18px;border-radius:8px;font-size:1.01em;line-height:1.6;color:#795548;max-width:700px;">
  <b>• Publication 100 % gratuite et visibilité renforcée :</b> vØtre spectacle est mis en ligne sans frais, avec un placement privilégié auprès de notre réseau d’acheteurs. Notre équipe s’occupe ensuite des demandes, des contacts et des ventes, sans commission tant qu’aucune réservation n’est conclue.<br>
</div>

<form method="post" class="form">
  <label>Nom d’utilisateur
    <input type="text" name="username" required>
  </label>

  <label>Mot de passe
    <input type="password" name="password" required>
  </label>

  <label>Email
    <input type="email" name="email" required>
  </label>

  <label>Téléphone
    <input type="text" name="telephone">
  </label>

  <label>Raison sociale
    <input type="text" name="raison_sociale">
  </label>

  <label>Région
    <input type="text" name="region">
  </label>

  <label>Site internet
    <input type="url" name="site_internet">
  </label>

  <button type="submit">S’inscrire</button>
  <a class="btn-secondary" href="{{ url_for('login') }}">Annuler</a>
</form>

{% endblock %}
